# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
# build / dist
build/
dist/
coverage/
# env
.env
.env.local
# OS
.DS_Store
# logs
logs/
*.log
# IDE
.vscode/
.idea/
# caches
.cache/
